<div class="container products-header">
    <div class="col-6 text-start">
        <h1>Products</h1>
        <p>จำนวน {{products?.length || 0}} รายการ</p>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="ค้นหาสินค้า" [(ngModel)]="searchTerm">
            <button class="btn btn-primary" type="button" (click)="searchProduct()">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </div>
</div>

<section class="container products-container mt-1">

    <p-table [value]="products || []" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template #header>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price | number:'1.2-2' }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <button class="btn btn-success" [routerLink]="['/edit', product.id]">
                        <i class="pi pi-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteProduct(product.id)">
                        <i class="pi pi-trash"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</section>
